<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="map.peer.peerstreaming"
    android:versionCode="15"
    android:versionName="1.15" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".PeerStreamService" />

        <receiver
            android:name=".NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

     <!--    <activity
            android:name=".VideoPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_player"
            android:theme="@style/FullscreenTheme" >  
        </activity>-->
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <!--  <intent-filter>
                 <action android:name="android.intent.action.SEND" />

                 <category android:name="android.intent.category.DEFAULT" />

                 <data android:mimeType="image/*" />
             </intent-filter> -->
             <intent-filter>
                 <action android:name="android.intent.action.SEND" />

                 <category android:name="android.intent.category.DEFAULT" />

                 <data android:mimeType="audio/*" />
             </intent-filter>
             <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:mimeType="text/plain" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND_MULTIPLE" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:mimeType="image/*" /> -->
            <!-- </intent-filter> -->
        </activity>
       <!--   <activity
            android:name=".PeerStreams"
            android:label="@string/title_activity_peer_streams" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <activity
            android:name=".FileBrowserActivity"
            android:label="Select a file..." >
        </activity>
    </application>

</manifest>
